*{
    box-sizing: border-box;
    font-family: popp;
}

/* Shared Section */
.container{
    max-width: 1280px;
    margin: auto;
}
.panda-btn{
    background-color: #f04e8c;
    border-radius: 5px;
    padding: 15px 35px;
    border: none;
    color: white;
    font-weight: bold;
}


/* Nav bar section */

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.search-parent{
    position: relative;
    color: #bababa;
}
.search-parent input{
    border-radius: 66px;
    background-color: rgb(241, 241, 241);
    padding: 15px 30px;
    width: 500px;
    border: none;
}
.search-parent i{
    position: absolute;
    top: 15px;
    right: 30px;
}
.nav-items{
    display: flex;
    list-style: none;
    gap: 10px;
}
.nav-items li a{
    text-decoration: none;
    color: #707070;
    font-size: 16px;
    font-weight: 500;
}

/* Banner Section */

.banner{
    background-color: rgb(254, 234, 233);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    margin-top: 25px;
}
.banner h2{
    color: rgb(31, 31, 31);
    font-size: 52px;
    font-weight: bold;
}
.banner p{
    color: #4e4e4e;
    width: 470px;
}
.banner img{
    width: 400px;
    height: 380px;
}
.banner-price{
    color: #ff136f;
    font-weight: bold;
    font-size: 52px;
    display: block;
    margin-bottom: 15px;
}